workflows/chatwork_daily_log.json
{
  "name": "Chatwork_毎日1時_前日ログ取得",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "trigger-001",
      "name": "毎日深夜1時実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.chatwork.com/v2/rooms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-001",
      "name": "全ルーム一覧取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const yesterdayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").minus({days:1}).toUnixInteger();\nconst todayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").toUnixInteger();\n\nreturn items.filter(item => \n  item.json.last_update_time >= yesterdayStart && item.json.last_update_time < todayStart\n);"
      },
      "id": "node-002",
      "name": "前日更新ルーム抽出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-003",
      "name": "ルームループ",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=https://api.chatwork.com/v2/rooms/{{ $json.room_id }}/messages?force=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-004",
      "name": "メッセージ取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const roomId = $('ルームループ').item.json.room_id;\nconst roomName = $('ルームループ').item.json.name;\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    room_id: roomId,\n    room_name: roomName\n  }\n}));"
      },
      "id": "node-005",
      "name": "ルーム情報付与",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "const yesterdayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").minus({days:1}).toUnixInteger();\nconst todayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").toUnixInteger();\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _isYesterday: item.json.send_time >= yesterdayStart && item.json.send_time < todayStart\n  }\n}));"
      },
      "id": "node-006",
      "name": "日付判定追加",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-isyesterday",
              "leftValue": "={{ $json._isYesterday }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "node-007",
      "name": "前日分のみ抽出",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1X17pi5Nk1mpxwlY7zzoueG8ZeGdiKkyAEq8V8gZ6p-0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ChatworkMessages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X17pi5Nk1mpxwlY7zzoueG8ZeGdiKkyAEq8V8gZ6p-0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ DateTime.now().setZone('Asia/Tokyo').minus({days:1}).toFormat('yyyy-MM-dd') }}",
            "room_id": "={{ $json.room_id }}",
            "room_name": "={{ $json.room_name }}",
            "message_id": "={{ $json.message_id }}",
            "account_id": "={{ $json.account.account_id }}",
            "account_name": "={{ $json.account.name }}",
            "body": "={{ $json.body }}",
            "send_time": "={{ $json.send_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "room_id", "displayName": "room_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "room_name", "displayName": "room_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "message_id", "displayName": "message_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "account_id", "displayName": "account_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "account_name", "displayName": "account_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "body", "displayName": "body", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "send_time", "displayName": "send_time", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-008",
      "name": "Google Sheets保存",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1560, 160]
    }
  ],
  "connections": {
    "毎日深夜1時実行": {
      "main": [[{"node": "全ルーム一覧取得", "type": "main", "index": 0}]]
    },
    "全ルーム一覧取得": {
      "main": [[{"node": "前日更新ルーム抽出", "type": "main", "index": 0}]]
    },
    "前日更新ルーム抽出": {
      "main": [[{"node": "ルームループ", "type": "main", "index": 0}]]
    },
    "ルームループ": {
      "main": [
        [{"node": "日付判定追加", "type": "main", "index": 0}],
        [{"node": "メッセージ取得", "type": "main", "index": 0}]
      ]
    },
    "メッセージ取得": {
      "main": [[{"node": "ルーム情報付与", "type": "main", "index": 0}]]
    },
    "ルーム情報付与": {
      "main": [[{"node": "ルームループ", "type": "main", "index": 0}]]
    },
    "日付判定追加": {
      "main": [[{"node": "前日分のみ抽出", "type": "main", "index": 0}]]
    },
    "前日分のみ抽出": {
      "main": [[{"node": "Google Sheets保存", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}