workflows/chatwork_daily_log.json
{
  "name": "Chatwork_毎日1時_前日ログ取得",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "毎日深夜1時実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.chatwork.com/v2/rooms/6852214/messages?force=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-request",
      "name": "Chatwork_メッセージ取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Chatwork API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const yesterdayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").minus({days:1}).toUnixInteger();\nconst todayStart = DateTime.now().setZone(\"Asia/Tokyo\").startOf(\"day\").toUnixInteger();\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    _isYesterday: item.json.send_time >= yesterdayStart && item.json.send_time < todayStart\n  }\n}));"
      },
      "id": "code-node",
      "name": "日付判定追加",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition-isyesterday",
              "leftValue": "={{ $json._isYesterday }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "filter-node",
      "name": "前日分のみ抽出",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "毎日深夜1時実行": {
      "main": [
        [
          {
            "node": "Chatwork_メッセージ取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwork_メッセージ取得": {
      "main": [
        [
          {
            "node": "日付判定追加",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日付判定追加": {
      "main": [
        [
          {
            "node": "前日分のみ抽出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
