workflows/chatwork_daily_log.json
{
  "name": "Chatwork_毎日1時_前日ログ取得",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "name": "毎日深夜1時実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [1376, 416]
    },
    {
      "parameters": {
        "url": "https://api.chatwork.com/v2/rooms/6852214/messages?force=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Chatwork_メッセージ取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 416]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-yesterday",
              "leftValue": "={{ $json.send_time }}",
              "rightValue": "={{ Math.floor(new Date(new Date().toLocaleString('en-US', {timeZone: 'Asia/Tokyo'})).setHours(0,0,0,0) / 1000) - 86400 }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "filter-yesterday-end",
              "leftValue": "={{ $json.send_time }}",
              "rightValue": "={{ Math.floor(new Date(new Date().toLocaleString('en-US', {timeZone: 'Asia/Tokyo'})).setHours(0,0,0,0) / 1000) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "name": "前日分のみ抽出",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1824, 416]
    }
  ],
  "connections": {
    "毎日深夜1時実行": {
      "main": [
        [
          {
            "node": "Chatwork_メッセージ取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwork_メッセージ取得": {
      "main": [
        [
          {
            "node": "前日分のみ抽出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
